<%- include("../partials/_head") %>
<%- include("../partials/_nav") %>
<main>
  <h1>Modify this Space</h1>
  <%if(locals.error) {%> <%-include("../partials/_errorAlert", {error: error})%>
  <%}%>
  <form action="/spaces/<%= space._id %>?_method=PUT" method="POST">
    <!-- Name -->
    <div class="mt-3">
      <label class="d-block" for="name">Name: </label>
      <input type="text" id="name" name="name" value="<%=space.name%>" />
    </div>
    <!-- Description -->
    <div class="mt-3">
      <label class="d-block" for="description">Description: </label>
      <textarea name="description" id="description" rows="5" cols="50">
<%=space.description%></textarea
      >
    </div>
    <!-- Features, may need to be modified to accept object -->
    <div class="mt-3">
      <label class="d-block" for="features">Features (optional): </label>
      <input
        type="object"
        id="features"
        name="features"
        value="<%=space.features%>"
      />
    </div>
    <!-- To do: add fields for Spaces, Tasks, Users -->

    <!-- Submit button -->
    <button type="submit">Submit edits</button>
  </form>
  <br />
  <a href="/spaces">Abandon modifications and return to index</a>
</main>
<%- include("../partials/_footer") %>
