<%- include("../partials/_head")%>
<main>
  <h1>Spaces</h1>

  <%if(locals.errors) {%> <%-include("../partials/_errorAlert", {errors:
  errors})%> <%}%> <%if(spaces.length > 0){%>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Updated</th>
      </tr>
    </thead>
    <tbody>
      <% spaces.forEach((space) => { %>
      <tr>
        <th scope="row"><%=spaces.indexOf(space) + 1%></th>
        <td><a href="/spaces/<%=space._id%>"><%=space.name%></a></td>
        <td><a href="/spaces/<%=space._id%>"><%=space.description%></a></td>
        <td><a class="btn btn-primary btn-sm" href="/spaces/<%=space._id%>/edit">Edit</a></td>
        <td><button class="btn btn-danger btn-sm" type="submit" data-toggle="modal" data-target="#deleteSpaceModal"
            data-spaceId="<%=space._id%>" data-spaceName="<%=space.name%>">Delete</button></td>
        <td><%= new Date(space.updatedAt).toDateString()%></td>
      </tr>
      <%})%>
    </tbody>
  </table>
  <%} else {%>
  <p>No spaces exist, please see a physicist</p>
  <% } %>
  <a class="btn btn-info btn-block py-2" href="/spaces/new">+ Add New Space</a>
</main>
<%- include ("../partials/_deleteSpaceModal")%>
<%- include("../partials/_footer") %>
