<%- include("../partials/_head")%>

<main>
    <h1>Tasks</h1>
    <%if(locals.errors) {%>
        <%-include("../partials/_errorAlert", {errors: errors})%>
    <%}%>

    
    <%if(tasks.length > 0){%>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Due Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Updated</th>
            </tr>
        </thead>
        <tbody>
            <%tasks.forEach((task) =>{%>
                <tr>
                    <th scope="row"><%=tasks.indexOf(task) + 1%></th>
                    <td><button class="btn btn-outline-primary btn-sm" type="submit" data-toggle="modal" data-target="#showTaskModal"
                        data-taskId="<%=task._id%>" data-taskTitle="<%=task.title%>"><%=task.title%></button></td>
                    <td><%=task.dueDate.toDateString()%></td>
                    <td><a class="btn btn-primary btn-sm" href="/tasks/edit/<%=task._id%>">Edit</a></td>
                    <td><button class="btn btn-danger btn-sm" type="submit" data-toggle="modal" data-target="#deleteTaskModal"
                        data-taskId="<%=task._id%>" data-taskTitle="<%=task.title%>">Delete</button></td>
                    <td><%=new Date(task.updatedAt).toDateString()%></td>
                </tr>
            <%})%>
        </tbody>
    </table>

    <% } else {%>
        <p>You don't have any tasks, ya lazy bum</p>
    <% } %> 
    <a class="btn btn-info btn-block py-2" href="/tasks/new"> + Add New Task</a>

</main>
<%- include ("../partials/_deleteTaskModal")%>
<%- include ("../partials/_showTaskModal")%>
<%- include("../partials/_footer")%>